.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.invalid-feedback {
  font-size: 12px;
}

.btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}